<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/download page/css/animate.css" rel="stylesheet" />
    <link href="~/Content/download page/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/download page/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/download page/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/download page/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/download page/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/download page/css/style.css" rel="stylesheet" />
    <script src="~/Content/download page/js/modernizr.custom.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
