<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/booktickets/css/base.css" rel="stylesheet" />
    <link href="~/Content/booktickets/css/fonts.css" rel="stylesheet" />
    <link href="~/Content/booktickets/css/main.css" rel="stylesheet" />
    <link href="~/Content/booktickets/css/vendor.css" rel="stylesheet" />
    <script src="~/Content/booktickets/js/modernizr.js"></script>
    <script src="~/Content/booktickets/js/pace.min.js"></script>
    <script src="~/Content/booktickets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/booktickets/js/main.js"></script>
    <script src="~/Content/booktickets/js/plugins.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
