
@using RatingApp.Models;
<div class="row hero-area-slide">
    <div class="col-lg-6 col-md-5">
        <div class="hero-area-content">
            <img src="@Url.Content(Model.imagepath)" alt="about" />

        </div>
    </div>
    <div class="col-lg-6 col-md-7">
        <div class="hero-area-content pr-50">
            <h2>@Model.name</h2>
            <div class="review">
                <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                </div>
                <h4>@Model.ratings voters</h4>
            </div>
            <p>@Model.description</p>
            <h3>Cast:</h3>
            <div class="slide-cast">
                <div class="single-slide-cast">
                    <img src="assets/img/cast/cast1.png" alt="about" />
                </div>

                <div class="single-slide-cast">
                    <img src="assets/img/cast/cast3.png" alt="about" />
                </div>
                <div class="single-slide-cast">
                    <img src="assets/img/cast/cast4.png" alt="about" />
                </div>
                <div class="single-slide-cast">
                    <img src="assets/img/cast/cast5.png" alt="about" />
                </div>
                <div class="single-slide-cast">
                    <img src="assets/img/cast/cast6.png" alt="about" />
                </div>
                <div class="single-slide-cast">
                    <img src="assets/img/cast/cast7.png" alt="about" />
                </div>
                <div class="single-slide-cast text-center">
                    5+
                </div>
            </div>
            <div class="slide-trailor">
                <h3>Watch Trailer</h3>
                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
            </div>
        </div>
    </div>
</div>
