


@{
    //Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<form action="#">
    <select>
        <option value="Movies">Movies</option>
        <option value="Movies">Movies</option>
        <option value="Movies">Movies</option>
    </select>
    <input type="text" />
    <button>@*<i class="icofont icofont-search"></i>*@</button>
</form>