@model RatingApp.Models.usertbl
@{
    ViewBag.Title = "register2";
    Layout = "~/Views/Shared/registrationpage.cshtml";
}
<link href="~/Content/registrationtemplate/nouislider.min.css" rel="stylesheet" />
<link href="~/Content/registrationtemplate/style.css" rel="stylesheet" />
<script src="~/Content/registrationtemplate/additional-methods.min.js"></script>
<script src="~/Content/registrationtemplate/jquery-ui.min.js"></script>
<script src="~/Content/registrationtemplate/jquery.validate.min.js"></script>
<script src="~/Content/registrationtemplate/main.js"></script>
<script src="~/Content/registrationtemplate/nouislider.min.js"></script>
<script src="~/Content/registrationtemplate/wNumb.js"></script>

<link href="~/Content/registrationtemplate/material-design-iconic-font.min.css" rel="stylesheet" />
<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="~/Content/registrationtemplate/form-img.jpg" alt="">

                <div class="signup-img-content">
                    <h2>Register now </h2>
                    <p>while seats are available !</p>
                </div>
            </div>
            <div class="signup-form">
                <form action="register2" method="POST" class="register-form" id="frm2">
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-input">
                                <label for="first_name" class="required">First name</label>
                                <input type="text" name="regname" id="first_name" />
                            </div>
                            <div class="form-input">
                                <label for="last_name" class="required">Last name</label>
                                <input type="text" name="password" id="last_name" />
                            </div>
                            <div class="form-input">
                                <label for="company" class="required">Company</label>
                                <input type="text" name="email" id="company" />
                            </div>
                            <div class="form-input">
                                <label for="email" class="required">Email</label>
                                <input type="text" name="email" id="email" />
                            </div>
                            <div class="form-input">
                                <label for="phone_number" class="required">Phone number</label>
                                <input type="text" name="phone_number" id="phone_number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-select">
                                <div class="label-flex">
                                    <label for="meal_preference">meal preference</label>
                                    <a href="#" class="form-link">Lunch detail</a>
                                </div>
                                <div class="select-list">
                                    <select name="meal_preference" id="meal_preference">
                                        <option value="Vegetarian">Vegetarian</option>
                                        <option value="Kosher">Kosher</option>
                                        <option value="Asian Vegetarian">Asian Vegetarian</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-radio">
                                <div class="label-flex">
                                    <label for="payment">Payment Mode</label>
                                    <a href="#" class="form-link">Payment Detail</a>
                                </div>
                                <div class="form-radio-group">
                                    <div class="form-radio-item">
                                        <input type="radio" name="payment" id="cash" checked>
                                        <label for="cash">Cash</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="payment" id="cheque">
                                        <label for="cheque">Cheque</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="payment" id="demand">
                                        <label for="demand">Demand Draf</label>
                                        <span class="check"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-input">
                                <label for="chequeno">DD / Cheque No.</label>
                                <input type="text" name="chequeno" id="chequeno" />
                            </div>
                            <div class="form-input">
                                <label for="blank_name">Drawn on ( Bank Name)</label>
                                <input type="text" name="blank_name" id="blank_name" />
                            </div>
                            <div class="form-input">
                                <label for="payable">Payable at</label>
                                <input type="text" name="payable" id="payable" />
                            </div>
                            <div class="form-input">
                                <div class="btn btn-primary">
                                    <input type="file" name="ImageFile" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="donate-us">
                        <label>Donate us</label>
                        <div class="price_slider ui-slider ui-slider-horizontal">
                            <div id="slider-margin"></div>
                            <span class="donate-value" id="value-lower"></span>
                        </div>
                    </div>
                    <div class="form-submit">
                        <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                        <input type="submit" value="Reset" class="submit" id="reset" name="reset" />
                    </div>
                </form>
                <h1> @ViewBag.mesage</h1>
            </div>
        </div>
    </div>

</div>


