@model RatingApp.Models.showingmodelcollection
@{
    ViewBag.Title = "addfooditems";
    Layout = "~/Views/Shared/registrationpage.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/fooditemorder/animate-3.7.0.css" rel="stylesheet" />
<link href="~/Content/fooditemorder/font-awesome-4.7.0.min.css" rel="stylesheet" />
<link href="~/Content/fooditemorder/style.css" rel="stylesheet" />
<link href="~/Content/fooditemorder/food1.css" rel="stylesheet" />


<section class="banner-area banner-area2 menu-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>Our Menu</i></h1>
                <p class="pt-2"><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <h3 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> <span class="btn btn-info">@Html.ActionLink("Check Out", "listbookingcart", "Booktickets")</span></h3>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<!-- Food Area starts -->
<div class="col-lg-10 col-md-10 col-sm-10">
    @if (TempData["total2"] == null)
    {

        <h3>
            Total Bill: 0 Rs
        </h3>
    }
    else
    {
        <h3> Total Bill: @TempData["total2"] Rs</h3>

    }

</div>

<main>

    <hr class="divider-w">
    <section class="module-small">
        <div class="container">
            <div class="row multi-columns-row">

            </div>

        </div>
    </section>
</main>




@Html.Partial("~/Views/Booktickets/foodview.cshtml", Model.food)



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>