@model List<RatingApp.Models.showtime>
@{
    ViewBag.Title = "newtime";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script src="~/Content/addnewtime/bootstrap.min.js"></script>

<link href="~/Content/addnewtime/style.css" rel="stylesheet" />
<link href="~/Content/addnewtime/style1.css" rel="stylesheet" />

<table class="responstable">

    <tr>
          
            <th data-th="Driver details"><span>Hall name</span></th>
        <th>Show Time</th>
        <th>Ticket Price</th>
       
    </tr>
    @foreach (var item in Model)
    {
    <tr>
       
     
        <td>@item.halltable.hallname</td>
        <td><a href="selectseats">@item.showtime1</a> </td>
        <td>@ViewBag.ticketprice</td>
    </tr>
    }

</table>



<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3 id="days">02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="hours">10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="minutes">34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3 id="seconds">60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">Bookings Available Until This New Year</h2>
                    <p>Book Your Tickets Now To Get A 50% OFF</p>
                    @*<a class="primary-btn cta-btn" href="#">Shop now</a>*@
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<script>
    function Countdown() {

        var now = new Date();
        var eventDate = new Date(2020, 03, 20);
        var currentTime = now.getTime();
        var eventTime = eventDate.getTime();

        var remTime = eventTime - currentTime;

        var s = Math.floor(remTime / 1000);
        var m = Math.floor(s / 60);
        var h = Math.floor(m / 60);
        var d = Math.floor(h / 24);

        h %= 24;
        m %= 60;
        s %= 60;

        h = (h < 10) ? "0" + h : h;
        m = (h < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        document.getElementById("days").textContent = d;
        document.getElementById("days").innerText = d;

        document.getElementById("hours").textContent = h;
        document.getElementById("minutes").textContent = m;

        document.getElementById("seconds").textContent = s;

        setTimeout(Countdown,1000);
    }
    Countdown();



</script>