
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/blockbuster/swiper.min.css" rel="stylesheet" />
<script src="~/Content/blockbuster/swiper.min.js"></script>



<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url('/Content/blockbuster/celeb-hero-single.jpg')"></div>
        
        <div class="swiper-slide" style="background-image:url('/Content/blockbuster/celeb-hero-single.jpg')"></div>
        <div class="swiper-slide" style="background-image:url('/Content/blockbuster/celeb-hero-single.jpg')"></div>
      
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
