.hero-area {
    position: relative;
    background-image: url('~/Content/homesectionload/images/hero-area.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.hero-area-slide {
    background: #13151f;
    margin: 100px 15px 50px;
    padding-top: 12px;
    box-shadow: 0 0 20px #000000;
}

.hero-area-content > img {
    position: relative;
    margin-top: -120px;
}
.hero-area-slider {
	margin: auto;
	max-width: 950px;
}

.author-review {
    color: #fece50;
    float: left;
}

.review h4 {
    padding-left: 25px;
    overflow: hidden;
}

.review {
    margin: 8px 0 35px;
}

.hero-area-content h3 {
    margin-top: 35px;
}

.single-slide-cast {
    width: 11.5%;
	margin-right: 1%;
	float: left;
    margin-top: 15px;
}

.single-slide-cast img {
    border-radius: 100%;
}

.single-slide-cast.text-center {
    height: 45px;
    line-height: 45px;
    border-radius: 100%;
    max-width: 45px;
    border: 2px solid #eb315a;
    color: #eb315a;
}
.pr-50 {
	padding-right: 10px;
	margin-left: -15px;
}
.slide-trailor {
    overflow: hidden;
    margin-top: 40px;
}

.slide-cast {
    overflow: hidden;
}

.slide-trailor h3 {
    float: left;
    margin: 0;
    margin-right: 25px;
}
.hero-area-thumb .hero-area-slide {
	margin: 0 15px;
}
.thumb-prev {
    position: absolute;
    bottom: 0;
    left: -690px;
    max-width: 950px;
    -webkit-perspective: 80px;
    perspective: 80px;
}
.thumb-prev .hero-area-slide {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(2deg);
    transform-style: preserve-3d;
    transform: rotateY(2deg);
    cursor: pointer;
}
.thumb-next {
    position: absolute;
    bottom: 0;
    right: -690px;
    max-width: 950px;
    -webkit-perspective: 80px;
    perspective: 80px;
}
.thumb-next .hero-area-slide {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(-2deg);
    transform-style: preserve-3d;
    transform: rotateY(-2deg);
    cursor: pointer;
}